[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
sanskrit_parser = {git = "https://github.com/kmadathil/sanskrit_parser.git", ref = "sanskrit_util"}

[dev-packages]
"flake8" = "*"
twine = "*"
wheel = "*"
coverage = "*"
"flake8-docstrings" = "*"
"flake8-per-file-ignores" = "*"
mkdocs = "*"
mkdocs-material = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pyfakefs = "*"

[requires]
python_version = "3.6"
